header {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px hsl(0, 0%, 52%);
    border-bottom: 2px solid hsl(0, 0%, 52%);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 55px;
}

.dark-mode {
    display: flex;
    align-items: center;
}

.dark-mode p {
    font-weight: 600;
    font-size: 16px;
}

.dark-mode svg {
    margin-right: 10px;
}