.main-container {
    min-height: 100%;
}

.dark-mode-background {
    background-color: hsl(207, 26%, 17%);
}

.light-mode-background {
    background-color: hsl(204, 43%, 93%);
}

.search-container {
    padding: 25px 55px;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    width: 350px;
    height: 40px;
    padding: 0 25px 0 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px hsl(0, 0%, 52%);
}

.icon {
    background: url('../assets/magnifying-glass-solid-white.svg') no-repeat scroll 7px 7px;
    background-size: 20px;
}

.input-light-background {
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
    font-weight: bolder;

}

.input-dark-background {
    color: hsl(0, 0%, 100%);
    background-color: hsl(209, 23%, 22%);
    font-weight: bolder;
}

.dropbtn {
    padding: 10px 35px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px hsl(0, 0%, 52%);
}

.dropbtn svg {
    margin-left: 15px;
}

.dropbtn-dark {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.dropbtn-light {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}

.dropbtn-light:hover {
    background-color: hsl(0, 0%, 52%);
}

.dropbtn-dark:hover {
    background-color: hsl(207, 26%, 17%);
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 195px;
    overflow: auto;
    box-shadow: 0px 0px 5px hsl(0, 0%, 52%);
    z-index: 1;
    border-radius: 10px;
    margin-top: 5px;
}

.dropdown-content-dark {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.dropdown-content-light {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}
  
.button {
    padding: 5px 16px;
    display: block;
    border: none;
    background-color: white;
    width: 100%;
    text-align: start;
}

.button-dark {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.button-light {
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}

.dropdown button:hover {
    background-color: hsl(0, 0%, 52%);
}

.show {
    display: block;
}

.country-container {
    padding: 25px 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%;
}

@media only screen and (max-width: 750px) {
    .search-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-bar {
        width: 250px;
        margin-bottom: 15px;
    }
}
  
@media only screen and (max-width: 1300px) {
    .country-container {
        justify-content: center;
    }
}

