.container-result {
    background-image: linear-gradient(hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
    width: 300px;
    height: 450px;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
}

.container-result h1 {
    margin-bottom: 1.5rem;
    font-size: 20px;
    margin-top: 1.5rem;
    color: hsl(241, 100%, 89%);
}

.container-result__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    padding: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.container-result__circle-big {
    font-size: 70px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

.container-result__circle-small {
    color: hsl(241, 100%, 89%);
}

.container-result__text {
    margin: 25px;
}

.container-result__text h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.container-result__text p {
    color: hsl(241, 100%, 89%);
    font-weight: 500;
}