.right-container {
    border: 1px solid green;
    width: 75%;
    height: auto;


    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    width: 28%;
    height: 47.8%;
    border: 1px solid red;

    margin: 0 15px 15px 15px;
    border-radius: 10px;
}

.work {
    background-color: hsl(15, 100%, 70%);
}

.top {
    /*position: relative;*/
    position: absolute;
    z-index: 1;
    margin-left: 120px;
}

.top img {
    width: 40px;
    height: 40px;
    
    position: absolute;
}

.info {
    position: absolute;
    height: 170px;
    width: 178px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 20px;
    border-radius: 10px;
    z-index: 3;
    color: white;
}

.info div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.big-info {
    font-size: 40px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.small-info {
    font-size: 12px;
    margin-left: 20px;
}