.outter-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 15px;
}

.inner-bottom-container {
    display: flex;
    height: 50%;
}

.inner-top-container {
    height: 50%;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}   
  
@media only screen and (max-width: 800px) {
    .outter-container {
        flex-direction: column;
        width: 400px;
        height: auto;
    }

    .inner-bottom-container {
        height: 100%;
        flex-direction: column;

    }
    
    .inner-top-container {
        width: 100%;
        background: white;
    }   
}